:root{
    --main-color:white;
    --tabs-background:#eee;
    --tabs-color:#4b5056;
    --tabs-target:#ccc;
    --recomended-color:#f037a5;
    --active-tab:#f037a5;
    --button-background-color:#fff;
    --button-background-border:2px solid #4caf50;
    --con2-color:black;
    --title-color:black;
    --card2-background-color:#fff;
    --pl-color:black;
    --pl-background-color:white;
    --h1-color:black;
    --root-color:black;
    --border-color:none;
    --input-color:white;
    --border-top:#e7eaec;
    --box-shadow:0 2px 4px 1px rgba(0,0,0,.18);
    --search-color:black

}
:root.dark{
    --main-color:#181a1b;
    --tabs-background:#222426;
    --tabs-color:#b5afa5;
    --tabs-target:#35393b;
    --recomended-color:rgb(240, 55, 165);
    --active-tab:#f037a5;
    --button-background-color:transparent;
    --button-background-border:2px solid #736b5e;
    --con2-color:white;
    --title-color:white;
    --card2-background-color:#2a2e2f;
    --pl-color:grey;
    --pl-background-color:#2a2e2f;
    --h1-color:grey;
    --root-color:grey;
    --border-color:black;
    --input-color:grey;
    --border-top:rgb(54, 59, 61);
    --box-shadow:0 2px 4px 1px #35393b;
    --search-color:grey;

}
:root.dark-blue{
    --main-color:#001331;
    --tabs-background:#2F4460;
    --tabs-color:#05AFF2;
    --tabs-target:#42566D;
    --recomended-color:#0D8C44;
    --active-tab:#0D8C44;
    --button-background-color:transparent;
    --button-background-border:2px solid #4caf50;
    --con2-color: white;
    --title-color:white;
    --card2-background-color:#1F2D40;
    --pl-color:#05AFF2;
    --pl-background-color:#1F2D40;
    --h1-color:grey;
    --root-color:grey;
    --border-color:#366CD9;
    --input-color:grey;
    --border-top:rgb(54, 59, 61);
    --box-shadow:0 2px 4px 1px #05AFF2;
    --search-color:#05AFF2
    /*--con2-color:#42566D;*/
    /*#1F2D40*/
}
:root.dq{
    --main-color:#3f3d58;
    --tabs-background:rgba(0,0,0,.3);
    --tabs-color:white;
    --tabs-target:#f037a5;
    --recomended-color:#f037a5;
    --active-tab:#f037a5;
    --button-background-color:transparent;
    --button-background-border:2px solid #4caf50;
    --con2-color: black;
    --title-color:white;
    --card2-background-color:#3f3d58;
    --pl-color: #333;
    --pl-background-color:white;
    --h1-color:white;
    --root-color:white;
    --border-color:transparent;
    --input-color:#333;
    --border-top:#e7eaec;
    --box-shadow:0 2px 4px 1px rgba(0,0,0,.18);
    --search-color:white
    /*--con2-color:#42566D;*/
}
body{
    /*margin: 0;*/
    /*width: 95%;*/
    /*padding-left: 30px;*/
    overflow-x: hidden;
    background-color: var(--main-color);
    color:var(--h1-color)
}
header{
    align-items: flex-end;
}
h1{
    color: var(--h1-color);
}
.playable {
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-bottom: -5px;
}
.itemImg {
    margin: 0 auto;
    /*background-color: #bbb;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.itemImg-xs {
    width: 36px;
    height: 36px;
}
.itemImg-search {
    margin: 0;
    margin-right: 16px !important;
}
.launchPad-subgrid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 140px 140px;
    grid-template-rows: 24px 24px 24px;
}

.launchPad-grid {
    display: grid;
    grid-column-gap: 28px;
    grid-template-columns: 280px 280px 140px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    line-height:30px;
}
.flex-item {
    /*background: tomato;*/
    /*margin: 5px;*/
    /*color: white;*/
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height:auto;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}
.num1{
  position: relative;
}
.num2{
  position: absolute;
}
.container-start{
  grid-column-start: 2;
  overflow: auto;
}
.col{
  width: 105px;
    height: 105px;
    /*border: 2px solid white;*/
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}
.con2{
    width: 100%;
    background-size: cover;
    display: flex;
    -moz-box-pack: start;
    place-content: flex-start;
    -moz-box-align: stretch;
    align-items: stretch;
    flex-flow: row wrap;
    /*height: 100%;*/
    margin-bottom: 6px;
}
.card2{
    /*width: 95%;*/
    background-size: cover;
    display: flex;
    -moz-box-pack: start;
    place-content: flex-start;
    -moz-box-align: stretch;
    align-items: stretch;
    flex-flow: row wrap;
    /*height: 100%;*/
    box-shadow: var(--box-shadow);
    background-color: var(--pl-background-color);
    padding: 16px;
    margin: 0 0 24px;
    color:var(--pl-color)
}
.con3{
  width: 105px;
    height: 105px;
    /*border: 2px solid white;*/
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
    color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}
.con3:hover{
    color: white;
    text-shadow: black 0 0 3px;
    cursor: pointer;
}
.col2{
    width: 100%;
    background-size: cover;
    display: flex;
    -moz-box-pack: start;
    place-content: flex-start;
    -moz-box-align: stretch;}
.panel{
    align-items: stretch;
    flex-flow: row wrap;
    /*height: 100%;*/
}
.img-xs{
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: cover;
}
.trackList {
    height: 250px;
    position: relative;
    overflow: auto;
    width: 225px;
}
.trackTitle{
    left: 50px;
position: relative;
    font-size: small;
    width: 150px;
}
@media (max-width: 576px) {
    .con3 {
        width: 105px;
        height: 105px;
        /*border: 2px solid white;*/
        color: transparent;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        font-size: 0.7em;
        /*font-size: 40px;*/
        font-weight: bolder;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rectrack{
        font-size: 0.9em;
    }

}
@media (min-width: 576px) {
    .con3 {
        width: 105px;
        height: 105px;
        /*border: 2px solid white;*/
        color: transparent;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        /*font-size: 40px;*/
        font-weight: bolder;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .con3:hover{
        color: white;
        text-shadow: black 0 0 3px;
        cursor: pointer;
}
}
@media (min-width: 768px) {
.con3{
  width: 130px;
    height: 130px;
    /*border: 2px solid white;*/
    color: transparent;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: cover;
}
.con3:hover{
    color: white;
    text-shadow: black 0 0 3px;
    cursor: pointer;
}
}

@media (min-width: 992px) {
.con3{
  width: 150px;
    height: 150px;
    /*border: 2px solid white;*/
    color: transparent;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: cover;
}
    .con3:hover{
        color: white;
        text-shadow: black 0 0 3px;
        cursor: pointer;
}
}

@media (min-width: 1200px) {
.con3{
  width: 170px;
    height: 170px;
    /*border: 2px solid white;*/
    color: transparent;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
    background-repeat: no-repeat;
    background-size: cover;
}
.con3:hover{
    color: white;
    text-shadow: black 0 0 3px;
    cursor: pointer;
}
}
    .con3active {
        color: white;
        text-shadow: black 0 0 3px;
        cursor: pointer;
    }
@media (max-width: 576px) {
    h1 {
        font-size: 1.4em;
    }
}
.con4{
  width: 105px;
    height: 105px;
    /*border: 2px solid white;*/
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
    color: var(--pl-color);
}
@media (min-width: 576px) {
    .con4 {
        width: 105px;
        height: 105px;
        /*border: 2px solid white;*/
        color: var(--pl-color);
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
        /*font-size: 40px;*/
        font-weight: bolder;
    }
}
@media (min-width: 768px) {
.con4{
  width: 130px;
    height: 130px;
    /*border: 2px solid white;*/
    color: var(--pl-color);
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
} }

@media (min-width: 992px) {
.con4{
  width: 150px;
    height: 150px;
    /*border: 2px solid white;*/
    color: var(--pl-color);
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}
}

@media (min-width: 1200px) {
.con4{
  width: 170px;
    height: 170px;
    /*border: 2px solid white;*/
    color: var(--pl-color);
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /*font-size: 40px;*/
    font-weight: bolder;
}
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pl{
    column-gap: 16px;
    column-count: 2;
    margin-bottom: 12px;
    color:var(--pl-color);
    background-color: var(--pl-background-color);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
    .pl{
        column-gap: 16px;
        column-count: 3;
        margin-bottom: 12px;
        color:var(--pl-color);
        background-color: var(--pl-background-color);
    }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
    .pl{
        column-gap: 16px;
        column-count: 3;
        margin-bottom: 12px;
        color:var(--pl-color);
        background-color: var(--pl-background-color);
    }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
    .pl{
        column-gap: 16px;
        column-count: 3;
        margin-bottom: 12px;
        color:var(--pl-color);
        background-color: var(--pl-background-color);
    }
}

.container-fluid {
  /*width: 100%;*/
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.text{
    opacity: 0;
}
.text:focus,.text:hover{
    opacity: 1;
    text-shadow: black 0 0 3px;
    cursor: pointer;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  /*background-color: black;*/
  overflow: hidden;
}
@media (max-width: 1023px) {
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }
}

.navbar{
    display: flex;
}
a{
    color: antiquewhite;
}
/*.header{*/
/*    overflow: hidden;*/
/*}*/
.header img {
  float: left;
  width: 50px;
  height: 50px;
}

.header h1 {
  position: relative;
  top: 7px;
  left: 10px;
}
.content{
    float: right;
    bottom: 50px;
    position: relative;
    right: 10px;
    color:var(--h1-color)
}
.activetab{
    background-color: var(--active-tab);
    color: #fff;
    text-decoration: none;
}

footer{
    position: relative;
    top: 30px;
    left: 30px;
}
.refresh-start {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: inherit;
}

.refresh-end {
    animation-play-state: paused !important;
}

#refresh-button {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}
.hr-line-dashed {
  border-top: 1px dotted var(--border-top);
    cursor:pointer;
}

.search{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 16px;
}
.playable-search{
    cursor: pointer;
    display: flex;
    align-content: center;
    margin-bottom: 5px;
    flex-basis: 100%;
    color: var(--search-color)
    /*flex-direction: column;*/
    /*width: 250px;*/
    /*flex-basis: 0;*/
}
.playable-search:hover {
    opacity: .85;
}
.title{
    position: relative;
    width: 65%;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--pl-color);
    /*left: 3%;*/
}

.button {
  background-color: var(--button-background-color);
  border: var(--button-background-border);
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover,.button:focus {
  background-color: #4CAF50;
  color: white;
}
.artist-cirle{
    width: 46px;
    height: 46px;
    margin: 4px;
    border-radius: 50%;
}

.tabs{
    position: relative;
    margin: 0;
    padding: 15px;
    font-size: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.tabs li{
    /*margin-right: 1px;*/
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    width: 100%;
}
/*.tabs li:last-child{*/
/*    margin-right: 0;*/
/*}*/
.tabs li a{
    display: block;
    /*padding: 10px 15px;*/
    background: var(--tabs-background);
    text-decoration: none;
    color:var(--tabs-color);
    transition: background 0.5s ease;
    padding: 18px;
}
.tabs li a:hover{
    background: var(--tabs-target);
}
.tabs a + div{
    position: absolute;
    left: 0;
    height: 0;
    padding: 0 15px;
    overflow: hidden;
}
.tabs :target a{
    background: var(--tabs-target);
}
.tabs :target a + div{
    height: auto;
    overflow: visible;
}

@media (max-width: 1023px) {
    .tabs{
        position: relative;
        margin: 0;
        padding: 15px;
        font-size: 0;
        display: block;
    }
    .tabs a {
        width:100%;
    }

    .tabs a + div{
        position: static;
        float:left;
    }
    .tabs li{
        display: block;
        overflow: hidden;
        margin: 0 0 1px 0;
    }

}

.rectrack{
    width: 100%;
}
@keyframes blinkdot {
    0% { opacity: .2; }
    20% { opacity: 1; }
    100% { opacity: .2; }
}
.loading{
    color:var(--title-color);
}
.loading span {
    animation-name: blinkdot;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.loading span:nth-child(2) {
    animation-delay: .2s;
}
.loading span:nth-child(3) {
    animation-delay: .4s;
}
.waitingForConnection {
    animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker { to { opacity: 0; } }

.break {
    flex-basis: 100%;
    /*height: 0;*/
}
.linkresset{
    display: initial !important;
    padding: initial !important;
    background: initial !important;
    color: var(--con2-color) !important;
}
.btn{
    width: 24px;
    height: 24px;
    margin-bottom: auto;
    margin-top: auto;
    border: transparent;
    background-color: var(--button-background-color);
}
.inp{
    background-color: var(--input-color);
    border-color:var(--border-color)
}
.stitle{
    display: flex;
    margin: 16px 0 6px;
    color:var(--search-color)
}
.play{
    background-color: var(--pl-background-color);
}
.sp{
    color: var(--pl-color);
    background-color: var(--pl-background-color)
}